<div class="card client-card">

  <!-- HEADER -->
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Client Section</h5>
    <button class="btn btn-primary btn-sm" (click)="openClientForm()">+ Add Client</button>
  </div>

  <!-- TABLE -->
  <div class="card-body">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Industry</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let client of paginatedClients$ | async">
          <td>
            <span class="client-icon">⬢</span>
            {{ client.name }}
          </td>
          <td>{{ client.websiteUrl }}</td>
          <td>{{ client.description }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary me-2"
                    (click)="edit(client)">
              Edit
            </button>
            <button class="btn btn-sm btn-outline-danger"
                    (click)="delete(client)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- FOOTER / PAGINATION -->
  <div class="card-footer d-flex justify-content-between align-items-center">
   <small>
  1 - {{ endItem$ | async }} of {{ totalPagesCount }} Page
</small>

    <nav>
      <ul class="pagination pagination-sm mb-0">
        <li class="page-item" [class.disabled]="currentPage$.value ===1" >
          <button class="page-link"
                  (click)="prevPage()">
            Previous
          </button>
        </li>

        <li class="page-item"  [class.disabled]="(currentPage$ | async) === totalPagesCount">
          <button class="page-link"
                  (click)="nextPage()">
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>

</div>
<app-client-form *ngIf="isVisible$ | async"></app-client-form>